PORT=8000
METER_ID=
METER_SECRET=
REPORTS_URI=http://192.168.1.100:8000/api/meter/reports
PING_URI=http://192.168.1.100:8000/api/meter/ping

# The number of miliseconds to aggregate per report
REPORT_RESOLUTION=1000

# Postgres
# Use postgres if running with docker compose
# POSTGRES_HOST=postgres
POSTGRES_HOST=localhost
POSTGRES_NAME=iotpc_db
POSTGRES_USER=iotpc
POSTGRES_PASS=iotpc
POSTGRES_PORT=5432

# Redis
# Use redis if running with docker compose
# REDIS_HOST=redis
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379